%footer.navbar.navbar-dark.bg-dark
  .container.justify-content-center
    .d-flex.justify-content-center.footer-container
      %span.text-white.footer-item Copyright © #{Time.now.year} Yaroslav Yenkala. All rights reserved.
      %a.text-white.footer-item{href: "https://github.com/yaroslavrick", target: "_blank", rel: "noopener"}
        %img.footer-image{src: image_path("logos/github-mark/github-mark-white.svg"), alt: "GitHub Logo"}