%footer.navbar.navbar-dark.bg-dark
  .container
    %span.text-white Copyright © #{Time.now.year} Yaroslav Yenkala. All rights reserved.
    %a.text-white.ml-3{href: "https://github.com/yaroslavrick", target: "_blank", rel: "noopener"}
      %img.footer-image{src: image_path("logos/github-mark/github-mark-white.svg"), alt: "GitHub Logo"}