---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/dhh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"394ca2be1f6192462c838c8a173b31e1588e2024e235b26182d643a83e551ce7"
      last-modified:
      - Mon, 11 Sep 2023 14:18:54 GMT
      x-oauth-scopes:
      - public_repo
      x-accepted-oauth-scopes:
      - ''
      x-github-media-type:
      - github.v3; format=json
      x-github-api-version-selected:
      - '2022-11-28'
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4987'
      x-ratelimit-reset:
      - '1694976385'
      x-ratelimit-used:
      - '13'
      x-ratelimit-resource:
      - core
    body:
      encoding: UTF-8
      string: '{"login":"dhh","id":2741,"node_id":"MDQ6VXNlcjI3NDE=","avatar_url":"https://avatars.githubusercontent.com/u/2741?v=4","gravatar_id":"","url":"https://api.github.com/users/dhh","html_url":"https://github.com/dhh","followers_url":"https://api.github.com/users/dhh/followers","following_url":"https://api.github.com/users/dhh/following{/other_user}","gists_url":"https://api.github.com/users/dhh/gists{/gist_id}","starred_url":"https://api.github.com/users/dhh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dhh/subscriptions","organizations_url":"https://api.github.com/users/dhh/orgs","repos_url":"https://api.github.com/users/dhh/repos","events_url":"https://api.github.com/users/dhh/events{/privacy}","received_events_url":"https://api.github.com/users/dhh/received_events","type":"User","site_admin":false,"name":"David
        Heinemeier Hansson","company":"Basecamp","blog":"https://dhh.dk","location":null,"email":"dhh@hey.com","hireable":null,"bio":null,"twitter_username":null,"public_repos":3,"public_gists":51,"followers":18355,"following":0,"created_at":"2008-03-10T17:53:51Z","updated_at":"2023-09-11T14:18:54Z"}'
  recorded_at: Sun, 17 Sep 2023 18:32:54 GMT
- request:
    method: get
    uri: https://api.github.com/users/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      x-oauth-scopes:
      - public_repo
      x-accepted-oauth-scopes:
      - repo
      x-github-media-type:
      - github.v3; format=json
      x-github-api-version-selected:
      - '2022-11-28'
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4986'
      x-ratelimit-reset:
      - '1694976385'
      x-ratelimit-used:
      - '14'
      x-ratelimit-resource:
      - core
    body:
      encoding: UTF-8
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest"}'
  recorded_at: Sun, 17 Sep 2023 18:32:55 GMT
- request:
    method: get
    uri: https://api.github.com/users//repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      content-type:
      - application/json; charset=utf-8
      x-oauth-scopes:
      - public_repo
      x-accepted-oauth-scopes:
      - repo
      x-github-media-type:
      - github.v3; format=json
      x-github-api-version-selected:
      - '2022-11-28'
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4985'
      x-ratelimit-reset:
      - '1694976385'
      x-ratelimit-used:
      - '15'
      x-ratelimit-resource:
      - core
    body:
      encoding: UTF-8
      string: '{"message":"Not Found","documentation_url":"https://docs.github.com/rest"}'
  recorded_at: Sun, 17 Sep 2023 18:32:55 GMT
recorded_with: VCR 6.2.0
