---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/dhh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"394ca2be1f6192462c838c8a173b31e1588e2024e235b26182d643a83e551ce7"
      last-modified:
      - Mon, 11 Sep 2023 14:18:54 GMT
      x-oauth-scopes:
      - public_repo
      x-accepted-oauth-scopes:
      - ''
      x-github-media-type:
      - github.v3; format=json
      x-github-api-version-selected:
      - '2022-11-28'
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4984'
      x-ratelimit-reset:
      - '1694976385'
      x-ratelimit-used:
      - '16'
      x-ratelimit-resource:
      - core
    body:
      encoding: UTF-8
      string: '{"login":"dhh","id":2741,"node_id":"MDQ6VXNlcjI3NDE=","avatar_url":"https://avatars.githubusercontent.com/u/2741?v=4","gravatar_id":"","url":"https://api.github.com/users/dhh","html_url":"https://github.com/dhh","followers_url":"https://api.github.com/users/dhh/followers","following_url":"https://api.github.com/users/dhh/following{/other_user}","gists_url":"https://api.github.com/users/dhh/gists{/gist_id}","starred_url":"https://api.github.com/users/dhh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dhh/subscriptions","organizations_url":"https://api.github.com/users/dhh/orgs","repos_url":"https://api.github.com/users/dhh/repos","events_url":"https://api.github.com/users/dhh/events{/privacy}","received_events_url":"https://api.github.com/users/dhh/received_events","type":"User","site_admin":false,"name":"David
        Heinemeier Hansson","company":"Basecamp","blog":"https://dhh.dk","location":null,"email":"dhh@hey.com","hireable":null,"bio":null,"twitter_username":null,"public_repos":3,"public_gists":51,"followers":18355,"following":0,"created_at":"2008-03-10T17:53:51Z","updated_at":"2023-09-11T14:18:54Z"}'
  recorded_at: Sun, 17 Sep 2023 18:32:56 GMT
- request:
    method: get
    uri: https://api.github.com/users/dhh/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"be53ca678b85299e95db75d67d298a98bd86e6fd113739ac8623b94f525ef57e"
      x-oauth-scopes:
      - public_repo
      x-accepted-oauth-scopes:
      - ''
      x-github-media-type:
      - github.v3; format=json
      x-github-api-version-selected:
      - '2022-11-28'
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4983'
      x-ratelimit-reset:
      - '1694976385'
      x-ratelimit-used:
      - '17'
      x-ratelimit-resource:
      - core
    body:
      encoding: UTF-8
      string: '[{"id":81754,"node_id":"MDEwOlJlcG9zaXRvcnk4MTc1NA==","name":"asset-hosting-with-minimum-ssl","full_name":"dhh/asset-hosting-with-minimum-ssl","private":false,"owner":{"login":"dhh","id":2741,"node_id":"MDQ6VXNlcjI3NDE=","avatar_url":"https://avatars.githubusercontent.com/u/2741?v=4","gravatar_id":"","url":"https://api.github.com/users/dhh","html_url":"https://github.com/dhh","followers_url":"https://api.github.com/users/dhh/followers","following_url":"https://api.github.com/users/dhh/following{/other_user}","gists_url":"https://api.github.com/users/dhh/gists{/gist_id}","starred_url":"https://api.github.com/users/dhh/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dhh/subscriptions","organizations_url":"https://api.github.com/users/dhh/orgs","repos_url":"https://api.github.com/users/dhh/repos","events_url":"https://api.github.com/users/dhh/events{/privacy}","received_events_url":"https://api.github.com/users/dhh/received_events","type":"User","site_admin":false},"html_url":"https://github.com/dhh/asset-hosting-with-minimum-ssl","description":"Rails
        plugin for picking a non-ssl asset host as often as possible","fork":false,"url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl","forks_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/forks","keys_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/keys{/key_id}","collaborators_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/teams","hooks_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/hooks","issue_events_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/issues/events{/number}","events_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/events","assignees_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/assignees{/user}","branches_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/branches{/branch}","tags_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/tags","blobs_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/git/refs{/sha}","trees_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/git/trees{/sha}","statuses_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/statuses/{sha}","languages_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/languages","stargazers_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/stargazers","contributors_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/contributors","subscribers_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/subscribers","subscription_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/subscription","commits_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/commits{/sha}","git_commits_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/git/commits{/sha}","comments_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/comments{/number}","issue_comment_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/issues/comments{/number}","contents_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/contents/{+path}","compare_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/compare/{base}...{head}","merges_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/merges","archive_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/downloads","issues_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/issues{/number}","pulls_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/pulls{/number}","milestones_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/milestones{/number}","notifications_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/labels{/name}","releases_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/releases{/id}","deployments_url":"https://api.github.com/repos/dhh/asset-hosting-with-minimum-ssl/deployments","created_at":"2008-11-27T16:21:03Z","updated_at":"2023-09-16T10:56:39Z","pushed_at":"2008-11-27T21:59:35Z","git_url":"git://github.com/dhh/asset-hosting-with-minimum-ssl.git","ssh_url":"git@github.com:dhh/asset-hosting-with-minimum-ssl.git","clone_url":"https://github.com/dhh/asset-hosting-with-minimum-ssl.git","svn_url":"https://github.com/dhh/asset-hosting-with-minimum-ssl","homepage":"","size":81,"stargazers_count":82,"watchers_count":82,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":14,"mirror_url":null,"archived":true,"disabled":false,"open_issues_count":0,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":14,"open_issues":0,"watchers":82,"default_branch":"master","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":true}},{"id":79943,"node_id":"MDEwOlJlcG9zaXRvcnk3OTk0Mw==","name":"conductor","full_name":"dhh/conductor","private":false,"owner":{"login":"dhh","id":2741,"node_id":"MDQ6VXNlcjI3NDE=","avatar_url":"https://avatars.githubusercontent.com/u/2741?v=4","gravatar_id":"","url":"https://api.github.com/users/dhh","html_url":"https://github.com/dhh","followers_url":"https://api.github.com/users/dhh/followers","following_url":"https://api.github.com/users/dhh/following{/other_user}","gists_url":"https://a[...]
